<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.google.chat04.mapper.UserMapper">

    <select id="getById1" resultType="com.google.chat04.model.UserModel">
    <![CDATA[
        SELECT id,name FROM t_user where id = #{uid1} and id = #{uid2}
        ]]>
    </select>

    <select id="getById" resultType="com.google.chat04.model.UserModel">
    <![CDATA[
        SELECT id,name FROM t_user where id = #{value}
        ]]>
    </select>

    <insert id="insertUser" parameterType="com.google.chat04.model.UserModel">
        <![CDATA[
        INSERT INTO t_user (id,name,age,salary,sex) VALUES (#{id},#{name},#{age},#{salary},#{sex})
         ]]>
    </insert>

    <!-- 获取主键 -->
    <insert id="insertUser1" parameterType="com.google.chat04.model.UserModel" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO t_user (id,name,age,salary,sex) VALUES (#{id},#{name},#{age},#{salary},#{sex})
         ]]>
    </insert>

    <!-- 方式2：插入后查询获取主键 -->
    <insert id="insertUser2" parameterType="com.google.chat04.model.UserModel">
        <selectKey keyProperty="id" order="AFTER" resultType="long">
            <![CDATA[
                select LAST_INSERT_ID()
            ]]>
        </selectKey>
        <![CDATA[
        INSERT INTO t_user (id,name,age,salary,sex) VALUES (#{id},#{name},#{age},#{salary},#{sex})
         ]]>
    </insert>


    <!-- 方式3：插入前查询获取主键 -->
    <insert id="insertUser3" parameterType="com.google.chat04.model.UserModel">
        <selectKey keyProperty="id" order="BEFORE" resultType="long">
            <![CDATA[
                select LAST_INSERT_ID()
           ]]>
        </selectKey>
        <![CDATA[
        INSERT INTO t_user (id,name,age,salary,sex) VALUES (#{id},#{name},#{age},#{salary},#{sex})
         ]]>
    </insert>



    <update id="updateUser" parameterType="com.google.chat04.model.UserModel">
        <![CDATA[
        UPDATE t_user SET name = #{name},age = #{age},salary = #{salary},sex = #{sex} WHERE id = #{id}
        ]]>
    </update>

    <update id="deleteUser" parameterType="java.lang.Long">
        <![CDATA[
        DELETE FROM t_user WHERE id = #{id}
        ]]>
    </update>

</mapper>